.reaction
  position: relative

  a
    color: rgba(235, 0, 125, 80%)
    text-decoration: none
    font-weight: bold

  &__user-avatar
    border-radius: 50%
    height: 40px
    width: 40px

  &__info
    opacity: 0
    background: #fff
    padding: 8px 16px
    border: 1px solid rgba(235, 0, 125, 80%)
    box-shadow: 0 0 10px rgba(235, 0, 125, 80%)
    position: absolute
    top: -150%
    transform: translateX(-50%)
    z-index: 9999
    min-width: 250px
    text-align: center
    transition: opacity 200ms ease-in
    word-break: keep-all
    // white-space: pre-line

  &:hover .reaction__info
    opacity: 1