a
  align-items: center
  color: rgba(235, 0, 125, 80%)
  display: flex
  font-size: 1.2em
  justify-content: center
  margin: 0 10px
  text-decoration: none

  &::before
    border-radius: 50%
    content: ''
    display: block
    margin-right: 10px
    height 20px
    width: 20px

  &[data-position='1']::before
    background-color: darken(gold, 10%)

  &[data-position='2']::before
    background-color: darken(silver, 10%)

  &[data-position='3']::before
    background-color: darken(#ad703a, 10%)